body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("image/flaco.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


#menu{
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

/* Hamburger menu */

.bar {
  height: 6px;
  width: 100%;
  background-color: rgba(231, 230, 212, 0.322);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);

}


.change .bar {
  background-color:rgba(231, 230, 212, 0.322);
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
  
}

.change #bar3 {
  transform: translateY(-5px) rotateZ(45deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}
.navb li a{
  color: #fff;
  text-decoration: none;
}
 
.navb li a:hover{
  font-weight: bold;
}
.navb li{
  list-style: none;
  padding: 15px;

}
.navb{
  padding: 0;
  cursor: pointer;
  margin: 0 ;
  transition: 0.3s ease;
  display: none; 
}
.change{
  display: block;
  
}



@media only screen and (min-width: 768px){
  body {
    margin: 0px;
    padding: 0px;
    }

  .bar{
    display: none;
}


.navb{
  margin-top: -5%;
  display: flex;
  justify-content: space-around;
  width: 50%;
  
}



}